<footer>
  <img src="/logo.png" alt="{{slogan}}">
  <div class="footer-contact">
    <div>
      <div><span><img src="/img/address.png" alt="{{lbl_adress}}"></span><b>{{lbl_adress}}</b></div>
      <span>{{adress_lines}}</span>
    </div><a href="tel:{{phone_cleaned}}">
      <div><span><img src="/img/phone.png" alt="{{lbl_phone}}"></span><b>{{lbl_phone}}</b></div><span>{{phone}}</span>
    </a><a href="mailto:siparis@corbaci.com">
      <div><span><img src="/img/email.png" alt="{{lbl_email}}"></span><b>{{lbl_email}}</b></div><span>{{email}}</span>
    </a>
  </div>
  {{footer_nav}}
  {{lang_nav}}
  <p>{{copyright}}</p>
</footer>